.sidebaroptions {
    display: flex;
    align-items: center;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px 25px;
    margin-right: 20px;
}

.sidebaroptions svg {
    color: rgb(94, 94, 94);
    font-size: 20px;
    width: 20px;
}

.sidebaroptions h4 {
    font-size: 14px;
    flex: 1;
    margin-left: 10px;
    font-weight: normal;
}

.sidebaroptions p {
    opacity: 1;
    color: rgb(94, 94, 94);
    font-size: 12px;
    opacity: 0;
}

.sidebaroptions:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.sidebarOptions--active {
    background-color: #fce8e6;
}

.sidebarOptions--active h4,
.sidebarOptions--active h4,
.sidebarOptions--active svg {
    color: #d93025;
    font-weight: bold;
    opacity: 1 !important;
}